.Main-Nav {
  text-align: center;
}

.Main-Nav-Link {
  margin: .6rem;
  color: #333;
}

.Home-Title-Wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.Home-Title {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 1rem;
}